@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}

header {

    background-image: url(../img/bg.svg);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    & .navbar {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        


    }
    & .home {
        height: calc(100vh - 190px);
        color: var(--color-white);
        margin-top: 114px;

        & h1 {
            margin-bottom: 26px;
            color: var(--color-white);
            font-size: 48px;
        }
    

        }
        
        
    }
    
}